%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% Dependencies ================================================================
{deps, [{rebar_vsn_plugin, ".*",
         {git, "https://github.com/erlware/rebar_vsn_plugin.git",
          {branch, "master"}}}]}.

{erl_first_files, ["ec_dictionary", "ec_vsn"]}.

%% Compiler Options ============================================================
{erl_opts,
 [{platform_define, "^[0-9]+", namespaced_types},
  {platform_define, "^R1[4|5]", deprecated_crypto},
  debug_info,
  warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Rebar Plugins ==============================================================
{plugins, [rebar_vsn_plugin]}.
